<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolução</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/feather-icon/css/feather.css">
    <link rel="icon" href="/static/imgs/favicon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .div-grafico {
            width: 80%;
            height: 500px;
            margin: auto;
        }

        .div-grafico canvas {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
</head>

<body>
    <header>
        <div class="navbar">
            <ul class="ul-desktop">
                <li><a href="{{ url_for('dashboard') }}"><i class="feather icon-home"></i></a></li>
                <li><a href="{{ url_for('criar_treino') }}">Treino</a></li>
                <li><a href="{{ url_for('evolucao') }}">Evolução</a></li>
                <li><a href="{{ url_for('desafios') }}">Desafios</a></li>
                <li><a href="{{ url_for('profile') }}">Perfil</a></li>
                <li><a href="{{ url_for('logout') }}"><i class="feather icon-log-out"></i></a></li>
            </ul>
            <ul class="ul-mobile">
                <li><a href="{{ url_for('logout') }}"><i class="feather icon-home"></i></a></li>
                <li><a href="{{ url_for('logout') }}"><i class="feather icon-log-out"></i></a></li>
            </ul>
        </div>
    </header>

    <div class="container-evolucao">
        <div class="topo-evolucao">
            <br>
            <br>
            <br>
            <h4>Confira os seus dados evolutivos</h4>
            <p>Os dados apresentados a seguir são baseados nas informações fornecidas por você ao longo do ano.</p>
        </div>

        <div class="div-grafico">
            <canvas id="myChart"></canvas>
        </div>

        <div class="form-medidas">
            <h4>Insira suas medidas mensais</h4>
            <form id="formMedidas" action="{{ url_for('salvar_medidas') }}" method="POST">
                <div class="form-group">
                    <label for="mes">Mês:</label>
                    <select id="mes" name="mes">
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="biceps">Bíceps:</label>
                    <input type="text" id="biceps" name="biceps" required>
                </div>
                <div class="form-group">
                    <label for="panturilha">Panturilha:</label>
                    <input type="text" id="panturilha" name="panturilha" required>
                </div>
                <div class="form-group">
                    <label for="ombro">Ombro:</label>
                    <input type="text" id="ombro" name="ombro" required>
                </div>
                <div class="form-group">
                    <label for="cintura">Cintura:</label>
                    <input type="text" id="cintura" name="cintura" required>
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>
    </div>

    <footer style="position: fixed">
        <h6 class="color-white">Fale com um de nossos profissionais</h6>
        <div class="grid-profissionais">
            <div class="profissional">
                <h6><a href="https://wa.me/5551998786274?text=Olá%20Julio%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">Julio Balestrin</a></h6>
            </div>
            <div class="profissional">
                <h6><a href="https://wa.me/5551998786274?text=Olá%20Renato%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">Renato Cariri</a></h6>
            </div>
            <div class="profissional">
                <h6><a href="https://wa.me/5551998786274?text=Olá%20Jorlan%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">Jorlan all day</a></h6>
            </div>
            <div class="profissional">
                <h6><a href="https://wa.me/5551998786274?text=Olá%20Paulo%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">Paulo Muzy</a></h6>
            </div>
        </div>

        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ meses | tojson }},
                    datasets: [{
                        label: 'Bíceps',
                        data: {{ biceps | tojson }},
                        backgroundColor: 'rgba(0, 0, 255, 0.2)',
                        borderColor: 'blue',
                        borderWidth: 1
                    }, {
                        label: 'Panturilha',
                        data: {{ panturilha | tojson }},
                        backgroundColor: 'rgba(0, 255, 0, 0.2)',
                        borderColor: 'green',
                        borderWidth: 1
                    }, {
                        label: 'Ombro',
                        data: {{ ombro | tojson }},
                        backgroundColor: 'rgba(255, 0, 0, 0.2)',
                        borderColor: 'red',
                        borderWidth: 1
                    }, {
                        label: 'Cintura',
                        data: {{ cintura | tojson }},
                        backgroundColor: 'rgba(255, 165, 0, 0.2)',
                        borderColor: 'orange',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </footer>

</body>

</html>
