<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Registro</title>
</head>
<body id="home-cadastro">
    <div class="container">
        <div class="home-login home-cadastro">
            <img src="/static/imgs/lif-it 1.png" alt="Logo" class="logo logo-cadastro">
            <form class="form-cadastro" action="{{ url_for('register') }}" method="POST">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <p class="flash {{ category }}">{{ message }}</p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <p class="p-form">Digite seu nome:</p>
                <input type="text" name="text" placeholder="Nome" required>
                <p class="p-form">Digite seu e-mail:</p>
                <input type="email" name="email" placeholder="E-mail" required>
                <p class="p-form">Digite sua senha:</p>
                <input type="password" name="password" placeholder="Senha" required>
                <br>
                <div class="checkbox" >
                  <input type="checkbox" id="terms" name="terms" required>
                  <label for="terms">Eu aceito os <a href="{{ url_for('terms') }}">termos e condições</a></label><br><br>
                </div>
                <input class="btn-cadastre" type="submit" value="Cadastre-se">
                <p>Você pode <a href="{{ url_for('login') }}">fazer login</a></p>
            </form>
        </div>
    </div>
</body>
</html>
