<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/feather-icon/css/feather.css">

    <title>Perfil</title>
</head>

<header>
    <div class="navbar">
        <ul class="ul-desktop">
            <li><a href="{{ url_for('dashboard') }}"><i class="feather icon-home"></i></a></li>
            <li><a href="{{ url_for('criar_treino') }}">Treino</a></li>
            <li><a href="{{ url_for('evolucao') }}">Evolução</a></li>
            <li><a href="{{ url_for('desafios') }}">Desafios</a></li>
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}"><i class="feather icon-log-out"></i></a></li>

        </ul>
        <ul class="ul-mobile">
            <li><a href="{{ url_for('dashboard') }}"><i class="feather icon-home"></i></a></li>
            <li><a href="{{ url_for('logout') }}"><i class="feather icon-log-out"></i></a></li>

        </ul>
    </div>
</header>

<body class="body-termos" style="background-color: rgba(169, 169, 169, 0.533);">
    <div class="container-termos">
        {% block title %}~
        Termos e Condições{% endblock %}

        {% block content %}
        <p>
            Última atualização: 28 de Maio de 2024

<h6>Bem-vindo ao LIF-IT! Antes de começar a usar nosso aplicativo, leia atentamente os seguintes Termos e Condições de Uso. Ao acessar ou usar o LIF-IT, você concorda em cumprir e ser regido por estes Termos e Condições. Se você não concorda com estes termos, por favor, não utilize o aplicativo.</h6>

<ol>
    <li>
        <strong>Aceitação dos Termos</strong><br>
        Ao acessar e utilizar o aplicativo LIF-IT, você concorda em cumprir estes Termos e Condições de Uso, bem como todas as leis e regulamentos aplicáveis. Caso não concorde com algum dos termos aqui estipulados, você está proibido de usar ou acessar este aplicativo.
    </li>
    <li>
        <strong>Modificações dos Termos</strong><br>
        O LIF-IT reserva-se o direito de modificar ou atualizar estes Termos e Condições a qualquer momento, sem aviso prévio. As alterações entrarão em vigor imediatamente após sua publicação no aplicativo. É sua responsabilidade revisar periodicamente estes Termos e Condições para se manter informado sobre quaisquer alterações. O uso contínuo do aplicativo após a publicação das alterações constitui sua aceitação dos novos termos.
    </li>
    <li>
        <strong>Descrição do Serviço</strong><br>
        O LIF-IT é um aplicativo destinado a [descrever brevemente o propósito e funcionalidades principais do aplicativo]. Nós nos esforçamos para manter as informações no aplicativo precisas e atualizadas, mas não garantimos a precisão, completude ou atualidade dessas informações.
    </li>
    <li>
        <strong>Cadastro de Usuário</strong><br>
        Para utilizar certas funcionalidades do LIF-IT, pode ser necessário criar uma conta. Você concorda em fornecer informações precisas e completas ao se registrar e em manter essas informações atualizadas. Você é responsável por manter a confidencialidade de sua senha e pela segurança de sua conta.
    </li>
    <li>
        <strong>Privacidade</strong><br>
        Sua privacidade é importante para nós. Por favor, consulte nossa Política de Privacidade para obter informações detalhadas sobre como coletamos, usamos e protegemos suas informações pessoais.
    </li>
    <li>
        <strong>Uso Aceitável</strong><br>
        Você concorda em usar o LIF-IT apenas para fins legais e de acordo com estes Termos e Condições. Você não deve usar o aplicativo para:
        <ul>
            <li>Qualquer finalidade ilegal ou não autorizada.</li>
            <li>Transmitir qualquer material que seja ofensivo, ameaçador, difamatório, obsceno ou de outra forma censurável.</li>
            <li>Interferir ou interromper a operação do aplicativo ou dos servidores ou redes conectados ao aplicativo.</li>
        </ul>
    </li>
    <li>
        <strong>Direitos de Propriedade Intelectual</strong><br>
        Todos os direitos de propriedade intelectual relacionados ao LIF-IT, incluindo mas não se limitando a software, gráficos, textos, vídeos, áudios, design e demais conteúdos, são de propriedade exclusiva do LIF-IT ou de seus licenciadores. Você concorda em não reproduzir, distribuir, modificar, criar obras derivadas ou explorar qualquer parte do aplicativo sem autorização expressa por escrito.
    </li>
    <li>
        <strong>Limitação de Responsabilidade</strong><br>
        O LIF-IT não será responsável por quaisquer danos diretos, indiretos, incidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar o aplicativo, mesmo que tenhamos sido avisados da possibilidade de tais danos.
    </li>
    <li>
        <strong>Indenização</strong><br>
        Você concorda em indenizar, defender e isentar o LIF-IT, seus diretores, funcionários e afiliados de qualquer reivindicação, perda, responsabilidade, demanda, incluindo honorários advocatícios, feitos por terceiros devido ao seu uso do aplicativo ou à sua violação destes Termos e Condições.
    </li>
    <li>
        <strong>Rescisão</strong><br>
        Podemos rescindir ou suspender seu acesso ao LIF-IT imediatamente, sem aviso prévio ou responsabilidade, por qualquer motivo, incluindo se você violar estes Termos e Condições. Após a rescisão, seu direito de usar o aplicativo cessará imediatamente.
    </li>
    <li>
        <strong>Disposições Gerais</strong><br>
        Estes Termos e Condições constituem o acordo integral entre você e o LIF-IT em relação ao uso do aplicativo, substituindo quaisquer acordos anteriores. Se qualquer disposição destes Termos e Condições for considerada inválida por um tribunal de jurisdição competente, a invalidade de tal disposição não afetará a validade das demais disposições, que permanecerão em pleno vigor e efeito.
    </li>
    <li>
        <strong>Contato</strong><br>
        Se você tiver alguma dúvida sobre estes Termos e Condições, entre em contato conosco pelo email: suporte@lif-it.com.
    </li>
</ol>

Ao utilizar o LIF-IT, você reconhece que leu, compreendeu e concorda em estar vinculado a estes Termos e Condições de Uso. Obrigado por usar o LIF-IT!

        </p>
        {% endblock %}

    </div>
</body>

<footer>
    <h6 class="color-white" style="text-align: center;">Fale com um de nossos profissionais</h5>
        <div class="grid-profissionais">
            <div class="profissional">
                <h6>
                    <a class="text-green"
                        href="https://wa.me/5551998786274?text=Olá%20Julio%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">
                        Julio Balestrin
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a class="text-green"
                        href="https://wa.me/5551998786274?text=Olá%20Renato%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">
                        Renato Cariri
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a class="text-green"
                        href="https://wa.me/5551998786274?text=Olá%20Jorlan%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">
                        Jorlan all day
                    </a>
                </h6>
            </div>
            <div class="profissional">
                <h6>
                    <a class="text-green"
                        href="https://wa.me/5551998786274?text=Olá%20Paulo%2C%20gostaria%20de%20saber%20mais%20sobre%20os%20treinos."
                        target="_blank">
                        Paulo Muzy
                    </a>
                </h6>
            </div>
        </div>
</footer>

</html>